.all-location {
      margin: 3rem 0;
      display: flex;
      flex-direction: column;
      gap: 2rem;
}

.all-location h4 {
      color: var(--secondary-color);
      font-size: 1.5rem;
}





.all-location-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      width: 100%;
      gap: 2rem;
}