.ceo-message-grid {
      display: grid;
      grid-template-columns: 65% 35%;
      align-items: center;
      gap: 1rem;
      overflow: hidden;
      background-color: var(--primary-color);
      border-radius: 10px;
      margin: 3rem 0;
}

.message {
      padding: 3rem;
}

.message span {
      color: var(--accent-color);
      font-weight: bold;
      text-transform: uppercase;
}

.message p {
      line-height: 1.6;
      color: #fff;
      margin-top: 8px;
      font-size: 1.3rem;
}

.img {
      height: 400px;
      width: 100%;
      text-align: right;
}

.img img {
      height: 100%;
      object-fit: cover;
}

.text {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin-bottom: 3rem;
}

.text span {
      color: var(--secondary-color);
      font-weight: bold;
      text-transform: uppercase;
      font-size: 1.5rem;
}

.text p {
      line-height: 1.6;
      color: #666;
      font-size: 1.2rem;
}

.text ul {
      margin-left: 20px;
      color: var(--accent-color);
}

.text ul li p {
      margin: 0 0 20px 20px;
      line-height: 1.6;
}