.site-header {
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 1000;
      border-bottom: 1px solid rgba(255, 255, 255, 0.39);
}

.site-header.header-scrolled {
      background-color: var(--primary-color);
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
      border: none;
      color: #fff;
}

.site-header.header-scrolled .site-nav ul li a {
      color: #fff;
}

.site-header.header-scrolled .site-nav ul li a:hover {
      color: var(--text-color);
}

.site-header, 
.site-header .site-nav ul li a {
      transition: all 0.4s ease-in-out;
}

.site-nav {
      width: 100%;
}

.site-nav ul {
      display: flex;
      list-style: none;
      justify-content: space-between;
      align-items: center;
}

.site-nav ul li {
      position: relative;
}

.site-nav ul li a {
      text-decoration: none;
      color: white;
      padding: 10px 30px;
      border-radius: 1000px;
      transition: all 0.3s ease;
}

.site-nav ul li a:hover {
      background-color: var(--accent-color);
      color: var(--text-color);
}

.site-nav ul li .sub-menu {
      display: none;
      position: absolute;       
      top: 200%;  
      left: 0;
      background-color: var(--primary-color); 
      min-width: 250px;         
      flex-direction: column;    
      z-index: 999;
      margin-top: 0;
}

.site-nav ul li .sub-menu::before {
      content: "";
      position: absolute;
      top: -20px;                
      left: 0;
      width: 100%;
      height: 20px;
      display: block;
}

.site-nav ul li:hover .sub-menu {
      display: flex;  
      align-items: flex-start;
      justify-content: flex-start;        
}

.site-nav ul .sub-menu li {
      width: 100%;
}

.site-nav ul .sub-menu li a {
      display: block;
      padding: 1rem;
      border-radius: 0;
      align-self: auto;
}