/* hero banner */
.swiper {
      width: 100%;
      height: 100vh;
}

.swiper-slide {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
}

.swiper-slide::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.4);
      z-index: 1;
}

.swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
}

.slide-content {
      position: absolute;
      z-index: 2;
      color: #ffffff;
      padding: 20px;
      top: 45%;
      transform: translateY(-50%);
      right: 50%;
      transform: translateX(50%);
      text-align: center;
}

.slide-content h2 {
      font-size: 3rem;
      margin-bottom: 10px;
      font-weight: bold;
}

.slide-content p {
      font-size: 1.2rem;
      margin-bottom: 20px;
}

/* about clinic */
.about-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: space-between;
      align-items: center;
      margin: 3rem 0;
}

.about-text {
      border-left: .5px solid var(--primary-color);
      padding: 10px 0 10px 20px;
}

.about-text span {
      color: var(--secondary-color);
      font-weight: bold;
      text-transform: uppercase;
}

.about-text h2 {
      font-size: 2.5rem;
      margin: 20px 0;
}

.about-text p {
      margin-bottom: 30px;
      line-height: 1.6;
      color: #666;
}

.about-img {
      text-align: right;
}

.about-img img {
      border-radius: 1rem;
      transition: all 0.3s ease; 
      cursor: pointer;
      filter: brightness(70%); 
}

.about-img img:hover {
      filter: brightness(100%);
}

/* statistic */
.statistic {
      background-color: #f3f3f3;
}

.statistic-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 50px;
      align-items: center;
      padding: 3rem 0;
}

.stats-boxes {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
}

.statistic-item {
      background: #f8f9fa;
      padding: 40px;
      border-radius: 15px;
      text-align: center;
      transition: all 0.3s ease;
      border: 1px solid #eee;
}

.statistic-item:hover {
      border: .5px solid var(--secondary-color);
}

.statistic-item i {
      font-size: 2rem;
      color: var(--secondary-color);
      margin-bottom: 15px;
}

.statistic-item h4 {
      font-size: 1.5rem;
      margin: 10px 0;
      color: #333;
}

.statistic-text span {
      color: var(--secondary-color);
      font-weight: bold;
      text-transform: uppercase;
}

.statistic-text h2 {
      font-size: 2.5rem;
      margin: 20px 0;
}

.statistic-text p {
      margin-bottom: 30px;
      line-height: 1.6;
      color: #666;
}

/* department */
.department-grid {
      padding: 3rem 0 0 0;
      width: 100%;
}

.department-grid span {
      color: var(--secondary-color);
      font-weight: bold;
      text-transform: uppercase;
}

.department-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
}

.department-header h2 {
      font-size: 2.5rem;
      margin: 20px 0;
}

.department-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
}

.department-card {
      position: relative;
      height: 400px;
      overflow: hidden;
      background-color: #333;
      color: #fff;
      cursor: pointer;
}

.department-card img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0.8;
      transition: scale 0.5s ease, opacity 0.5s ease;
}

.department-card:hover img {
      scale: 1.1;
      opacity: 0.5;
}

.department-content {
      position: absolute;
      bottom: 30px;
      left: 30px;
      z-index: 2;
}

.department-content i {
      margin-bottom: 15px;
      font-size: 2rem;
}

.department-content h2 {
      font-size: 2.5rem;
}

/* media */
.media-grid {
      width: 100%;
      padding: 3rem 0;
}

.media-grid span {
      color: var(--secondary-color);
      font-weight: bold;
      text-transform: uppercase;
}

.media-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
}

.media-header h2 {
      font-size: 2.5rem;
      margin: 20px 0;
}

.custom-arrows {
      display: flex;
      gap: 10px;
}

.slider-container {
      width: 100%;
      overflow: hidden;
}

.slider-wrapper {
      display: flex;
      transition: transform 0.5s ease-in-out;
}

.slider-card {
      flex: 0 0 auto;
}

.slider-arrow {
      display: flex;
      gap: 10px;
}

.media-container {
    width: 100%;
    overflow: hidden;
}

.media-card {
    background: #fff;
    border-radius: 15px;
    overflow: hidden;
    border: 1px solid #eee;
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: transform 0.3s ease;
}

.media-card:hover img {
    scale: 1.1;
}

.media-img {
      overflow: hidden;
      height: 50%;
}

.media-img img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    transition: scale 0.3s ease;
}

.media-content {
    padding: 25px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.media-content span {
    display: inline-block;
    background-color: #1c4d8d33;
    color: var(--primary-color);
    padding: 5px 12px;
    border-radius: 50px;
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 15px;
    align-self: flex-start;
}

.media-content h2 {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-bottom: 20px;
}

.media-content .btn {
      align-self: flex-start;
}

/* branch */
.branch-grid {
      width: 100%;
      padding: 3rem 0;
}

.branch-grid span {
      color: var(--secondary-color);
      font-weight: bold;
      text-transform: uppercase;
}

.branch-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
}

.branch-header h2 {
      font-size: 2.5rem;
      margin: 20px 0;
}

.branch-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
      gap: 10px;
}

.branch-card {
      position: relative;
      height: 300px;
      overflow: hidden;
      color: #fff;
      cursor: pointer;
      border-radius: 1rem;
      background-color: #333;
}

.branch-card img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: scale 0.5s ease, opacity 0.5s ease;
      border-radius: 1rem;
      display: block;
      opacity: 0.7;
}

.branch-content {
      position: absolute;
      bottom: 0;
      width: 100%;
      background: linear-gradient(transparent, rgba(0, 0, 0, 0.779));
}

.branch-content h2 {
      padding: 0 20px 20px;
      margin: 0;
      font-size: 1.4rem;
      color: white;
      transition: transform 0.3s ease-in-out;
}

.branch-card:hover .branch-content h2 {
    transform: translateY(-40px); 
}

.hover-actions {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    background-color: var(--primary-color);
    transform: translateY(100%); 
    transition: transform 0.3s ease-in-out;
}

.branch-card:hover .hover-actions {
    transform: translateY(0);
}

.action-btn {
    flex: 1;
    padding: 15px 5px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    border-right: 1px solid rgba(255,255,255,0.1);
    color: #fff;
}