@import url('https://fonts.googleapis.com/css2?family=Google+Sans:opsz@17..18&display=swap');
:root {
      --primary-color: #1C4D8D;
      --secondary-color: #0F2854;
      --accent-color: #BDE8F5;
      --bg-color: #fff;
      --text-color: #333;
      --container-width: 1280px;
}

* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      border: none;
      background-color: initial;
      text-decoration: none;
      font-family: "Google Sans", sans-serif;
}

body {
      background-color: var(--bg-color);
      color: var(--text-color);
}

.site-header {
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 1000;
      border-bottom: 1px solid rgba(255, 255, 255, 0.39);
}

.container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 1280px;
      margin: 0 auto;
      width: 100%;
}

.cta {
      display: flex;
      align-items: center;
      gap: 20px;
}

.btn {
      background-color: var(--secondary-color);
      border-radius: 1000px;
      padding: 10px 20px;
      color: #fff;
      transition: all 0.3s ease;
}

.btn-cc {
      background-color: var(--secondary-color);
      border-radius: 1000px;
      padding: 10px;
      color: #fff;
      transition: all 0.3s ease;
}

.btn:hover,
.btn-cc:hover {
      background-color: var(--accent-color);
      color: var(--text-color);
}

.site-nav {
      width: 100%;
}

.site-nav ul {
      display: flex;
      list-style: none;
      gap: 14px;
      justify-content: space-between;
}

.site-nav ul li a {
      text-decoration: none;
      color: white;
      padding: 10px 30px;
      border-radius: 1000px;
      transition: all 0.3s ease;
}

.site-nav ul li a:hover {
      background-color: var(--accent-color);
      color: var(--text-color);
}

.site-header.header-scrolled {
    background-color: var(--primary-color);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
    border: none;
    color: #fff;
}

.site-header.header-scrolled .site-nav ul li a {
    color: #fff;
}

.site-header.header-scrolled .site-nav ul li a:hover {
      color: var(--text-color);
}

.site-header, 
.site-header .site-nav ul li a {
    transition: all 0.4s ease-in-out;
}

.site-footer {
      background: #1C4D8D;
      color: #ffffff;
      padding: 40px 0 0;
      font-size: 14px;
}

.footer-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      max-width: 1280px;
      margin: auto;
      gap: 30px;
}

.footer-column h4 {
      margin-bottom: 15px;
      font-size: 16px;
}

.footer-column p {
      margin-bottom: 10px;
}

.footer-column p i {
      margin-right: 5px;
}

.footer-column ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 14px;
}

.footer-column ul li a {
      color: #ffffff;
      text-decoration: none;
      display: inline-block;
      transition: transform 0.3s ease;
}

.footer-column ul li a:hover {
      transform: translateX(10px);
}

.newsletter-form {
      margin-top: 20px;
      max-width: 400px;
}

.input-group {
      display: flex;
      background-color: #fff;
      padding: 5px;
      border-radius: 1000px;
      border: 1px solid #ddd;
      transition: border-color 0.3s ease;
}

.input-group:focus-within {
      border-color: var(--secondary-color);
}

.email-form {
      flex: 1;
      border: none;
      background: none;
      padding: 10px 20px;
      outline: none;
      font-size: 14px;
      color: #333;
}

.subscribe-btn {
      background-color: var(--secondary-color);
      color: white;
      border: none;
      width: 45px;
      height: 45px;
      border-radius: 50%; /* Circular button */
      cursor: pointer;
      transition: background 0.3s ease, transform 0.2s ease;
      display: flex;
      align-items: center;
      justify-content: center;
}

.subscribe-btn:hover {
      background-color: var(--accent-color);
      transform: scale(1.05);
}

.wrap {
      display: flex;
      flex-direction: column;
      gap: 14px;
}

.footer-bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 30px;
      border-top: 1px solid rgba(255,255,255,0.2);
      padding: 15px 0;
      font-size: 13px;
      background-color: var(--secondary-color);
}

.footer-bottom-container {
      display: flex;
      align-items: center;
      gap: 1rem;
}

.footer-legal {
      display: flex;
      align-items: center;
      gap: 1rem;
}

.footer-legal a {
      color: #fff ;
}

.footer-social {
      display: flex;
      align-items: center;
      gap: 1rem;
      font-size: 1rem;
}

.footer-social a {
      color: var(--primary-color);
      transition: all 0.3s ease;
}

.footer-social a:hover {
      scale: 1.05;
      color: var(--accent-color);
}

.swiper {
      width: 100%;
      height: 100vh;
}

.swiper-slide {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
}

.swiper-slide::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.4);
      z-index: 1;
}

.swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
}

.slide-content {
    position: absolute;
    z-index: 2;
    color: #ffffff;
    padding: 20px;
    top: 45%;
    transform: translateY(-50%);
    right: 50%;
    transform: translateX(50%);
    text-align: center;
}

.slide-content h2 {
    font-size: 3rem;
    margin-bottom: 10px;
    font-weight: bold;
}

.slide-content p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.about-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: space-between;
      align-items: center;
      margin: 3rem 0;
}

.about-text {
      border-left: .5px solid var(--primary-color);
      padding: 10px 0 10px 20px;
}

.about-text h2 {
      font-size: 2.5rem;
      margin: 20px 0;
}

.about-text span {
      color: var(--secondary-color);
      font-weight: bold;
      text-transform: uppercase;
}

.about-text p {
      margin-bottom: 30px;
      line-height: 1.6;
      color: #666;
}

.about-img {
      text-align: right;
}

.about-img img {
      border-radius: 1rem;
      transition: all 0.3s ease; 
      cursor: pointer;
      filter: brightness(70%); 
}

.about-img img:hover {
      filter: brightness(100%);
}

.statistic {
      background-color: #f3f3f3;
}

.statistic-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 50px;
      align-items: center;
      padding: 3rem 0;
}

.stats-boxes {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
}

.statistic-item {
      background: #f8f9fa;
      padding: 40px;
      border-radius: 15px;
      text-align: center;
      transition: all 0.3s ease;
      border: 1px solid #eee;
}

.statistic-item:hover {
      border: .5px solid var(--secondary-color);
}

.statistic-item i {
      font-size: 2rem;
      color: var(--secondary-color);
      margin-bottom: 15px;
}

.statistic-item h4 {
      font-size: 1.5rem;
      margin: 10px 0;
      color: #333;
}

.statistic-text span {
      color: var(--secondary-color);
      font-weight: bold;
      text-transform: uppercase;
}

.statistic-text h2 {
      font-size: 2.5rem;
      margin: 20px 0;
}

.statistic-text p {
      margin-bottom: 30px;
      line-height: 1.6;
      color: #666;
}

.department-grid {
      padding: 3rem 0 0 0;
      width: 100%;
}

.department-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
}

.department-grid span {
      color: var(--secondary-color);
      font-weight: bold;
      text-transform: uppercase;
}

.department-header h2 {
      font-size: 2.5rem;
      margin: 20px 0;
}

.department-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
}

.department-card {
      position: relative;
      height: 400px;
      overflow: hidden;
      background-color: #333;
      color: #fff;
      cursor: pointer;
}

.department-card img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0.8;
      transition: scale 0.5s ease, opacity 0.5s ease;
}

.department-card:hover img {
      scale: 1.1;
      opacity: 0.5;
}

.department-content {
      position: absolute;
      bottom: 30px;
      left: 30px;
      z-index: 2;
}

.department-content i {
      margin-bottom: 15px;
      font-size: 2rem;
}

.department-content h2 {
      font-size: 2.5rem;
}

.media-grid span {
      color: var(--secondary-color);
      font-weight: bold;
      text-transform: uppercase;
}

.media-grid {
      width: 100%;
      padding: 3rem 0;
}

.media-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
}

.media-header h2 {
      font-size: 2.5rem;
      margin: 20px 0;
}

.slider-arrow {
      display: flex;
      gap: 10px;
}

.media-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 40px 0;
}

.media-card {
    background: #fff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0,0,0,0.05);
}

.media-card:hover img {
    scale: 1.1;
}

.media-card img {
    width: 100%;
    object-fit: cover;
    transition: scale 0.3s ease;
}

.media-content {
    padding: 25px;
}

.media-content span {
    display: inline-block;
    background-color: #1c4d8d33;
    color: var(--primary-color);
    padding: 5px 12px;
    border-radius: 50px;
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.media-content h2 {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-bottom: 20px;
}











































































.branch-grid span {
      color: var(--secondary-color);
      font-weight: bold;
      text-transform: uppercase;
}

.branch-grid {
      width: 100%;
      padding: 3rem 0;
}

.branch-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
}

.branch-header h2 {
      font-size: 2.5rem;
      margin: 20px 0;
}

.slider-arrow {
      display: flex;
      gap: 10px;
}

.branch-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
      gap: 10px;
}

.branch-card {
      position: relative;
      height: 300px;
      overflow: hidden;
      color: #fff;
      cursor: pointer;
      border-radius: 1rem;
      background-color: #333;
}

.branch-card img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: scale 0.5s ease, opacity 0.5s ease;
      border-radius: 1rem;
      display: block;
      opacity: 0.7;
}

.branch-content {
      position: absolute;
      bottom: 0;
      width: 100%;
      background: linear-gradient(transparent, rgba(0, 0, 0, 0.779));
}

.branch-content h2 {
      padding: 0 20px 20px;
      margin: 0;
      font-size: 1.4rem;
      color: white;
      transition: transform 0.3s ease-in-out;
}

.branch-card:hover .branch-content h2 {
    transform: translateY(-40px); 
}

.hover-actions {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    background-color: var(--primary-color);
    transform: translateY(100%); 
    transition: transform 0.3s ease-in-out;
}

.branch-card:hover .hover-actions {
    transform: translateY(0);
}

.action-btn {
    flex: 1;
    padding: 15px 5px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    border-right: 1px solid rgba(255,255,255,0.1);
    color: #fff;
}