@import url('https://fonts.googleapis.com/css2?family=Google+Sans:opsz@17..18&display=swap');
@import url('/wp-content/themes/jubha-hospital/assets/css/header.css');
@import url('/wp-content/themes/jubha-hospital/assets/css/footer.css');
@import url('/wp-content/themes/jubha-hospital/assets/css/home.css');
:root {
      --primary-color: #1C4D8D;
      --secondary-color: #0F2854;
      --accent-color: #BDE8F5;
      --bg-color: #fff;
      --text-color: #333;
      --container-width: 1280px;
}

* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      border: none;
      background-color: initial;
      text-decoration: none;
      font-family: "Google Sans", sans-serif;
}

ul,
li,
a {
      text-transform: capitalize;
}

body {
      background-color: var(--bg-color);
      color: var(--text-color);
}

.container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 1280px;
      margin: 0 auto;
      width: 100%;
}

.cta {
      display: flex;
      align-items: center;
      gap: 20px;
}

.btn {
      background-color: var(--secondary-color);
      border-radius: 1000px;
      padding: 10px 20px;
      color: #fff;
      transition: all 0.3s ease;
      align-self: flex-start;
      display: inline-block;
}

.btn-cc {
      background-color: var(--secondary-color);
      border-radius: 1000px;
      padding: 10px;
      color: #fff;
      transition: all 0.3s ease;
      align-self: flex-start;
      display: inline-block;
}

.btn:hover,
.btn-cc:hover {
      background-color: var(--accent-color);
      color: var(--text-color);
}




































































































