.our-purpose-grid {
      display: grid;
      grid-template-columns: 30% 70%;
      align-items: center;
      color: #fff;
      margin: 3rem 0;
      overflow: hidden;
      border-radius: 10px;
}

.vision,
.mission {
      height: 100%;
      width: 100%;
      padding: 3rem;
}

.vision span,
.mission span {
      color: var(--accent-color);
      font-weight: bold;
      text-transform: uppercase;
}

.vision h4, 
.mission h4 {
      font-size: 1.3rem;
      margin: 20px 0;
}

.vision ul,
.mission ul {
      margin-left: 20px;
      color: var(--accent-color);
}

.vision ul li p,
.mission ul li p {
      margin: 0 0 20px 20px;
      line-height: 1.6;
      color: #fff;
}

.vision {
      background-color: var(--primary-color);
}

.mission {
      background-color: var(--secondary-color);
}

.our-values-grid {
      margin: 2rem;
}

.our-values-grid h2 {
      font-size: 2.5rem;
}

.values-list {
      display: grid;
      grid-template-rows: repeat(5, 1fr);
}

.value-item {
      padding: 2rem 0;
      display: flex;
      align-items: center;
      gap: 3rem;
      border-bottom: 1px solid var(--primary-color);
}

.icon i {
      font-size: 2.5rem;
      color: var(--secondary-color);
}

.content span {
      color: var(--secondary-color);
      font-weight: bold;
      text-transform: uppercase;
}

.content p {
      line-height: 1.6;
      color: #666;
      margin-top: 8px;
      font-size: 1rem;
}