/* Hero Banner Styling */
.hero-banner {
    background: url('https://images.unsplash.com/photo-1485848395967-65dff62dc35b?q=80&w=1169&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    padding: 20px 0;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    font-weight: 700;
}

.breadcrumb {
    font-size: 0.9rem;
    color: #fff;
}

.breadcrumb a {
    color: var(--accent-color);
    text-decoration: none;
}

.overview-section {
    padding: 80px 0 0;
    background: #ffffff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.overview-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-wrap: wrap;
}

.text-block {
    flex: 1;
    min-width: 300px;
}

.text-block span {
    color: var(--secondary-color);
    font-weight: bold;
    text-transform: uppercase;
}

.text-block h3 {
    font-size: 2rem;
    margin: 20px 0;
}

.text-block p {
    margin-bottom: 30px;
    line-height: 1.6;
    color: #666;
}

.image-block {
    flex: 1;
    height: 300px;
    text-align: right;
}

.image-block img {
    height: 100%;
    border-radius: 15px;
}

.overview-department {
    background: linear-gradient(rgba(51, 51, 51, 0.7), rgba(51, 51, 51, 0.7)), url('https://images.unsplash.com/photo-1586773860418-d37222d8fce3?q=80&w=1173&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 3rem;
    color: #fff;
}

.overview-dept-grid span {
    color: var(--accent-color);
    font-weight: bold;
    text-transform: uppercase;
}

.dept-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dept-header h4 {
    font-size: 1.5rem;
    margin: 20px 0;
    width: 50%;
}

.dept-carousel {
    display: flex;
    gap: 15px;
}

.dept-card.glass {
    flex: 1;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    text-align: center;
    border-radius: 4px;
    transition: all 0.3s ease;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.dept-card.glass:hover, .dept-card.glass.active {
    background: #1c4d8d54;
    border: 1px solid #1c4d8dc1;
}

.icon-circle {
    font-size: 2rem;
}

.overview-statistic {
    background-color: #f3f3f3;
    padding: 3rem;
}

.stat-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: center;
}

.stat-container h5 {
    font-size: 1.3rem;
    font-weight: 500;
    color: #333;
}

.overview-about-grid {
    display: grid;
    grid-template-columns: 35% 65%;
    justify-content: space-between;
    align-items: center;
    margin: 3rem 0;
}

.overview-about-text span {
    color: var(--secondary-color);
    font-weight: bold;
    text-transform: uppercase;
}

.overview-about-text h2 {
    font-size: 1.5rem;
    margin: 20px 0;
}

.overview-about-text p {
    margin-bottom: 30px;
    line-height: 1.6;
    color: #666;
}

.overview-about-img {
    text-align: left;
}