.plane-tree-grid {
      display: grid;
      grid-template-columns: 50% 50%;
      align-items: center;
      gap: 1rem;
      overflow: hidden;
      border-radius: 10px;
      margin: 3rem 0 2rem;
}

.content {
      display: flex;
      flex-direction: column;
      gap: 1rem;
}

.content span {
      color: var(--secondary-color);
      font-weight: bold;
      text-transform: uppercase;
      font-size: 1.5rem;
}

.content h5 {
      font-size: 1.2rem;
      line-height: 1.6;
      font-weight: normal; 
}

.content p {
      line-height: 1.6;
      color: #666;
      font-size: 1.2rem;
}

.img {
      height: 400px;
      width: 100%;
}

.img img {
      height: 100%;
      object-fit: cover;
}