/* Hero container */
.hero-find-doctor {
  position: relative;
  height: 450px;
  overflow: hidden;
  display: flex;
  align-items: center;   /* vertical center */
}

/* Background (your blur) */
.hero-find-doctor::before {
  content: "";
  position: absolute;
  inset: 0;
  background:
    linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.25)),
    url("https://static.scientificamerican.com/sciam/cache/file/3A236506-E48D-4F38-B1A565180005173E_source.jpg?w=1200");
  background-size: cover;
  background-position: top;
  filter: blur(5px);
  transform: scale(1.1);
  z-index: 0;
}

/* Content on top */
.hero-content {
  position: relative;
  z-index: 1;
  margin-left: 60px;   /* LEFT spacing */
  color: white;
  text-align: left;
}

/* Title */
.hero-content h1 {
  font-size: 48px;
  margin-top: 260px;
}

/* Button */
.hero-btn {
  padding: 12px 28px;
  font-size: 16px;
  background-color: #1e88e5;
  color: white;
  border: none;
  border-radius: 6px;
  border: double 4px;
  cursor: pointer;
  transition: all 0.5s ease-out allow-discrete;
  transition: 200ms linear 50ms;
  margin-left: 60px;
  margin-top: 10px;
}

.hero-btn:hover {
  background-color: #1565c0;
  transform: scale(1.05);
  border: inset  3px;
}
.hero-text{
  width: 700px;
  margin-left: 10%;
  padding: 0;
}
.hero-text h3{
  font-size: 20px;
  margin-top: 25px;
  margin-bottom:0;
  font-family: "Google Sans", sans-serif;
}
.hero-text p{
  font-size: 18px;
  margin-top: 10px;
  font-family: "Google Sans", sans-serif;
}
.search-box{
  width: 80%;
  height: 100px;
  background-color: #c9c4c478;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 10px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.search-filter select {
  padding: 8px 25px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 8px;
  gap: 10px;
}

.search-box button {
  padding: 8px 25px;
  background: #007bff;
  font-size: 18px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-box button:hover {
  background: #0056b3;
}
.search-area {
  display: flex;
  gap: 10px;
  align-items: center;
}

.search-area input,
.search-area select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  width: 250px;
}

.search-box button {
  padding: 10px 18px;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.search-area button:hover {
  background: #0056b3;
}
